@model DTOs.LoginRequest

<h2>Logowanie</h2>


<form method="post" asp-action="Login" asp-controller="Auth">
    <label for="Login">Login:</label><br />
    <input asp-for="Login" id="Login" /><br />
    <span asp-validation-for="Login" style="color:red"></span><br />

    <label for="Password">Hasło:</label><br />
    <input asp-for="Password" id="Password" type="password" /><br />
    <span asp-validation-for="Password" style="color:red"></span><br />

    <button type="submit">Zaloguj się</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
